{% extends 'base.html'%}
{%block body%}
<div class="container">
<section class="vh-90 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-60">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">Please register yourself to get started!</p>
             <form action="" method="POST"  >
             {% csrf_token %}
             <div class="form-outline form-white mb-4">
                <input type="text" name="username"  placeholder="Choose Username" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" name="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email"/>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" name="password" id="typePasswordX" placeholder="Password"class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" name="cpassword" placeholder="Confirm Password" id="typePasswordX" class="form-control form-control-lg" />
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
               </form>
            </div>
            {%for message in messages%}
              <div class="alert alert-{{message.tags}}" role="alert">
             {{message}}
             </div>
              </div>
              {% endfor %}
            <div>
           
              <p class="mb-0">Already have an account?  <a href="{% url 'user_login' %}" class="text-white-50 fw-bold"> Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{%endblock body%}
{%block style%}
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  } 
}

body {
    background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); 
}
{%endblock style%}