{%extends 'base.html'%}
{% block body %}
<div class="container my-3">
<b>Welcome to SocialBee. It is my django project which has actually helped me revise my django knowledge and even learn a lot of new things</b><br>
Features include -<br>
<ol>
<li>Authentication <br></li>
<li>Newsfeed<br></li>
<li>Profile page<br></li>
<li>Like each other's posts<br></li>
<li>Comment on Posts<br></li>
<li>Friends suggestion<br></li>
<li>Contact the admin<br></li>
<li>Notifications<br></li>
<li>Search users<br></li>
<li>Custom Middleware<br></li>
<li>AJAX functionality<br></li>
</ol>
</div>

{% endblock body%}